.cart-item-group {
    background-color: rgb(213, 213, 213);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px #333;
    margin-bottom: 1rem;
    height: 127px;
    border-radius: 0.3rem;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 0;
}

.cart-item-image {
    min-height: 126px;
    max-height: 126px;
    max-width: 200px;
    object-fit: cover;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.cart-item-body {
    display: inline-block;
    padding: 0.5rem;
}

.cart-item-top-body {
    display: flex;
    justify-content: space-between;
}

.cart-item-bottom-body {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.cart {
    display: none; /* Initially hide the cart */
}
  
.cart.open {
    display: block; /* Show the cart when the "open" class is applied */
}
