.register-container {
    background-color: rgba(49, 49, 49, 0.426);
    backdrop-filter: blur(10px);
    border-radius: 0.3rem;
    margin: auto;
    margin-top: 4%;
    height: 30rem;
    width: 35rem;
    padding: 1rem;
}

#register-formGroup {
    margin-bottom: 1rem;
}