.login-container {
    background-color: rgba(49, 49, 49, 0.426);
    backdrop-filter: blur(10px);
    border-radius: 0.3rem;
    margin: auto;
    margin-top: 6%;
    height: 18rem;
    width: 35rem;
    padding: 1rem;
}

#login-formGroup {
    margin-bottom: 1rem;
}

.login-btns {
    display: flex;
    justify-content: space-between;
}

.register-btn {
    color: rgb(0, 0, 171);
}